<div class="row new-task" ng-show="isEditingTask" ng-controller="editTaskController">
  <div class="col-sm-12">
    <div class="row">
      <img class="modal-exit" src="../../../assets/img/trash.png" ng-click="toggleIsEditingTask()"/>
      <div class="col-sm-12">
        <h2 class="new-task-title">Edit task</h2>
      </div>
    </div>
    <div class="row new-task-field">
      <div class="col-sm-4">
        Name:
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Name" ng-model="editTask.name">
      </div>
    </div>

    <div class="row new-task-field">
      <div class="col-sm-4">
        Description:
      </div>
      <div class="col-sm-8">
        <textarea class="form-control" rows="1" placeholder="Description" resize="none" maxlength="50" ng-model="editTask.description"></textarea>
      </div>
    </div>
    
    <div class="row new-task-field">
      <div class="col-sm-4">
        <button class="btn btn-success" ng-click="updateTask()">Submit</button>
      </div>
    </div>

  </div>
</div>