<div class="col-sm-5 tasks-container col-sm-offset-1" ng-switch="tasks.length" ng-controller="taskListController">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="section-header">My Tasks</h1>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <div class="btn btn-warning btn-add-task" ng-click="toggleIsCreatingTask()">
        Add Task
      </div>
    </div>
  </div>
  <hr>
  <div class="row" ng-switch-when="0">
    <div class="col-sm-12">
      <h4 class="no-task-msg">Click 'Add Task' to create a new task</h4>
    </div>
  </div>
  <div class="row task tile" ng-repeat="task in tasks track by $index" ng-click="stageTask(task)" ng-switch-default>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 row-delete">
          <img class="icon" src="assets/img/trash.png" ng-click="deleteTask(task, $event)"/>
          <img class="icon" src="assets/img/edit.png" ng-click="editTask(task, $event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h3>{{task.name}}</h3>
          <h6>{{task.description}}</h6>
        </div>
        <div class="col-sm-4">

          <div class="row">
            <div class="col-sm-2 col-sm-offset-6 no-padding">
              <h6>{{task.pomodoros}}x</h6>
            </div>
            <div class="col-sm-4 no-padding">
              <img src="../../../assets/img/pomodoro.png" height="30px"/>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-1 col-sm-offset-8 no-padding btn btn-danger" ng-click="subtractPomodoros(task, $event)">
              -
            </div>
            <div class="col-sm-1 no-padding btn btn-success" ng-click="addPomodoros(task, $event)">
              +
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>